
// Body
$body-bg: #f5f8fa;
$c1: #D9DCD8;
$c2: #9BA747;
$c3: #F29D4B;
$c4: #D57030;
$c5: #8B281F;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
