
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

//code
body{
  overflow-x: hidden;
  background: #fff;
}
#contentWrapper{
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 15vh minmax(85vh, auto) 20vh;
}
#header{
  grid-area: 1/1/2/2;
  background: transparent;
  padding-left: 5vw;
  padding-right: 5vw;
  position: relative;
}
#header.scroll20{
  background: $c1;
}
#content{
  grid-area: 2/1/3/2;
}
#footer{
  grid-area: 3/1/4/2;
  background-color: $c1;
  color: $c5;
  text-align: center;
  position: relative;

  a{
    color: $c5;
    text-decoration: none;
    &:hover{
      color: $c3;
    }
  }
  .footer{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.logo{
  position: absolute;
  top: 50%;
  left: 5vw;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  a{
    font-size: xx-large;
    color: $c5;
    text-decoration: none;
  }
}
.nav-links{
  position: absolute;
  top: 50%;
  right: 5vw;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  a{
    display: inline-block;
    color: $c5;
    font-size: larger;
    text-decoration: none;
    padding-right: 30px;

    &:hover{
      opacity: 0.7;
    }
  }
}
#homeWrapper{
  display: grid;
  grid-template-rows: 100vh 100vh;
  grid-template-columns: 100vw;
}
#homeIntro{
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(/public/images/bg-large.jpeg);
}