
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

//code
body{
  overflow-x: hidden;
  background: #fff;
}
#contentWrapper{
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 15vh minmax(105vh, max-content) 20vh;
}
#header{
  grid-area: 1/1/2/2;
  z-index: 200;
  background: #fff;
  padding-left: 5vw;
  padding-right: 5vw;
  position: relative;
}
#header.scroll20{
  background: $c1;
  position: fixed;
}
#content{
  grid-area: 2/1/3/2;
}
#footer{
  grid-area: 3/1/4/2;
  background-color: $c4;
  color: $c1;
  text-align: center;
  position: relative;

  a{
    color: $c5;
    text-decoration: none;
    &:hover{
      color: $c3;
    }
  }
  .footer{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.logo{
  position: absolute;
  top: 50%;
  left: 5vw;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  a{
    font-size: xx-large;
    color: $c5;
    text-decoration: none;
  }
}
.nav-links{
  position: absolute;
  top: 50%;
  right: 5vw;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  a{
    display: inline-block;
    color: $c5;
    font-size: larger;
    text-decoration: none;
    padding-right: 30px;

    &:hover{
      opacity: 0.7;
    }
  }
}
#homeWrapper{
  display: grid;
  grid-template-rows: 100vh 60vh 110vh 70vh 130vh;
  grid-template-columns: 100vw;
}
#homeIntro{
  position: relative;
  img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
  }
}
#tools {
  position: relative;
}
.submenu{
  display: none;
  z-index: 100;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 20px 0 15px 30px;

  &.display{
    display: block;
  }
  .topname{
    color: #000!important;
  }

}
.submenu a{
  z-index: 100;
  color: $c5;
  text-decoration: none;
  display: block;
  font-size: medium;
  margin-top: 15px;
  overflow: visible;

  i{
    font-family: FontAwesome;
  }
  &:hover{
    opacity: 0.7;
    color: $c2;
    cursor: pointer!important;
  }
}
#dal, #tools{
  cursor: pointer;
  color: $c5;
}
#intro{
  position: absolute;
  top: 25vh;
  color: #fff;
  text-align: left;
  font-size: xx-large;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
#introButton{
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  position: absolute;
  top: 70vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 3px;
  border: 1px solid $c3;
  color: #fff;
  background: $c3;
  font-size: x-large;
  -webkit-transition: all 0.3s cubic-bezier(.17, .61, 1, .29);
  -moz-transition: all 0.3s cubic-bezier(.17, .61, 1, .29);
  -ms-transition: all 0.3s cubic-bezier(.17, .61, 1, .29);
  -o-transition: all 0.3s cubic-bezier(.17, .61, 1, .29);
  transition: all 0.3s cubic-bezier(.17, .61, 1, .29);

  &:hover{
    border: 1px solid $c2;
    background: $c2;
  }
}
#dietassessmentmodal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 6;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.95);

  .dietassessment{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: 20% 80%;
  }
}
#x{
  grid-area: 1/1/2/2;
  align-self: center;
  justify-self: end;

  button{
    font-size: 3.8rem;
    border: none;
    background: transparent;
    color: $c4;
    cursor: pointer;
  }
}
#assessmentForm{
  grid-area: 2/1/3/2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: $c2;
  font-size: large;
  padding: 5px 5px 5px 5px;

  input{
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    border-bottom: 1px solid $c4;
    background: transparent;
    &:focus{
      border-color: inherit;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
  button{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    background: $c4;
    font-size: 1.3rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);

    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -ms-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;

    &:hover{
      background: $c2;
      color: #fff;
    }
  }
  h3{
    color: $c1;
  }
  input[type="radio"] {
    display:none;
  }

  input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:$c1;
    cursor:pointer;
    border-radius: 50%
  }

  input[type="radio"]:checked + label span {
    background:$c4;
  }
}
#whoAreWe{
  grid-area: 2/1/3/2;
  color: $c5;
  padding: 5vw;
  text-align: center;
  .whoAreWe{
    font-size: larger;
    line-height: 2;
  }
}
#whatWeDo{
  grid-area: 3/1/4/2;
  background: $c4;
  color: $c2;
  padding: 5vw;
  text-align: center;
  position: relative;

  #fcc, #ofd{
    left: 10vw;
  }
  #wlt, #bmi{
    left: 40vw;
  }
  #dmp{
    left: 70vw;
  }
  .iconfeatured, h1{
    color: $c1;
  }
  .iconfeatured{
    font-size: x-large;
  }
}
#fcc, #wlt, #dmp{
  position: absolute;
  top: 25vh;
  width: 20vw;
  height: 30vh;
  text-align: center;

  i{
    font-family: FontAwesome;
  }
}
#ofd, #bmi{
  position: absolute;
  top: 60vh;
  width: 20vw;
  height: 30vh;
  text-align: center;

  i{
    font-family: FontAwesome;
  }
}
#blog{
  grid-area: 4/1/5/2;
  color: $c5;
  padding: 3.5vw;

  h3{
    text-align: center;
  }
  h2{
    a{
      color: $c4;
      text-decoration: none;
    }
  }
  h4{
    text-align: right;
    a{
      color: $c4;
      text-decoration: none;
    }
  }
}
#contact{
  grid-area: 5/1/6/2;
  background: $c2;
  position: relative;
}
#contactUs{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55vh;
  padding: 3.5vh;
  text-align: center;
  color: $c1;

  .contactUs{
    font-size: x-large;
    line-height: 2;

    i{
      color: $c2;
      font-family: FontAwesome;
    }
  }
}
#contactMap{
  position: absolute;
  top: 55vh;
  left: 5vw;
  width: 90%;
  height: 65vh;
}
#blogWrapper{
  display: grid;
  grid-template-rows: 15vh minmax(70vh, auto);
  grid-template-columns: 70vw 30vw;
}
#blogHead{
  grid-area: 1/1/2/3;
  align-self: center;
  position: relative;
  color: $c5;
  
  h2{
    position: absolute;
    left: 35vw;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
#blogSide{
  grid-area: 2/2/3/3;
  justify-self: center;
  line-height: 2.2;
  height: auto;
  padding-right: 5vw;
  color: $c5;

  a{
    color: $c2;
    text-decoration: none;
  }
}
#blogSide a button{
  font-size: larger;
  color: #fff;
  border: none;
  border-radius: 3px;
  background: $c4;
  -webkit-transition: background 0.25s ease-out;
  -moz-transition: background 0.25s ease-out;
  -ms-transition: background 0.25s ease-out;
  -o-transition: background 0.25s ease-out;
  transition: background 0.25s ease-out;

  &:hover{
    background: $c5;
  }
}
#blogBod{
  grid-area: 2/1/3/2;
  height: auto;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 3vw;
  text-align: left;

  h3{
    color: $c5;
    a{
      text-decoration: none;
      color: $c2;
    }
  }
  h2{
    color: $c2;
  }
  h4{
    color: $c4;
  }
}
#createForm{
  font-size: larger;
  textarea{
    height: 30vh;
  }
  #createButton{
    border: none;
    background: $c5;
    color: #fff;
    font-size: x-large;
    transition: background 0.3s ease-out;
    -webkit-transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    -ms-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;

    &:hover{
      background: $c2;
    }
  }
}
.articleTime{
  color: $c5;
  font-size: medium;
  a{
    color: grey;
  }
}
.articleBod{
  font-size: large;
}
#blog{
  .card{
    width: 30vw;
    display: inline-block;
  }
}
#addComment, .commentReplyForm {
  button {
    padding: 5px 10px 5px 10px;
    font-size: larger;
    background: $c2;
    color: #fff;
    border-radius: 3px;
    border: none;
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out ;
    -ms-transition: background 0.2s ease-out ;
    -o-transition: background 0.2s ease-out ;
    transition: background 0.2s ease-out ;

    &:hover{
      background: $c4;
    }
  }
}
.grey{
  color: grey;
}
#registerWrapper, #loginWrapper {
  height: auto;
  width: 100vw;
  position: relative;

  h1, h4 {
    color: $c5;
  }
  a{
    display: inline-block;
    font-size: large;
    color: $c4;
  }
}
#registerForm, #loginForm{
  width: 60vw;
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);

  input{
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    border-bottom: 1px solid $c2;
  }
  button[type='submit']{
    background: $c4;
    color: #fff;
    border: none;
    font-size: larger;
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transition: all 0.2s cubic-bezier(.17, .61, 1, .29);

    &:hover{
      background: #fff;
      color: $c2;
      border: 1px solid $c2;
    }
  }
  .form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .btn{
    display: inline-block;
  }
}
.readMore a{
  color: $c4!important;
}
input[name='userid']{
  display: none;
}
.large{
  font-size: large;
}
.text-center{
  text-align: center!important;
  float: none;
}
.socials{
  font-size: large;
}
.twitter{
  background: skyblue;
  color: #fff;
}
.commentReplyForm{
  display: none;
}
.reply{
  cursor: pointer;
  color: $c4;
}
.right{
  text-align: right!important;
  float: right!important;
}
.replies{
  li{
    width: 80%;
    margin-right: 0!important;
    float: right!important;
  }
}
