@import "variables";

#shopWrapper{
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 100%;
}

#shopNav{
  grid-area: 1/1/2/2;
  height: auto;
  padding: 10px 5% 10px 0;

  ul {
    float: left;

    li{
      list-style-type: none;
      display: inline;
      margin-left: 20px;
      a{
        text-decoration: none;
        color: $c2;
      }
    }
  }

  .navInl{
    display: inline;

    &.dropdown{
      display: none;
      float: left;
      margin-left: 5%;

      .dropdown-item{
        text-decoration: none;
        color: $c2!important;
      }

      button{
        background: #fff;
        border: 1px solid $c4;
        @include brad(3px);
        color: $c2;
        font-size: x-large;
      }
    }
  }
  #searchBox{
    max-width: 45%;
    float: right;
    input{
      max-width: 100%;
      @include brad(3px);
      border: 1px solid $c4;
    }
    button{
      background: #fff;
      color: $c2;
      font-family: FontAwesome;
      border: none;
      display: none;
    }
  }
}

#shopIntro{
  grid-area: 2/1/3/2;
  height: 60vh;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url('https://store.eatingfree.com/images/banner-samples-menus.jpg');
}

@media screen and (max-width: 890px){
  .dropdown.navInl{
    display: inline!important;
  }
  #shopNav ul{
    display: none!important;
  }
}

@media screen and (max-width: 500px){
  #searchBox form {
    font-size: x-large;
    input{
    max-width: 100%;
    }
  }
}