@mixin transform($property){
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}

@mixin brad($value){
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

@import "variables";

#shopWrapper{
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 100%;
}

#shopNav{
  grid-area: 1/1/2/2;
  height: auto;
  padding: 10px 5% 10px 0;

  ul {
    float: left;

    li{
      list-style-type: none;
      display: inline;
      margin-left: 20px;
      a{
        text-decoration: none;
        color: $c2;
      }
    }
  }

  .navInl{
    display: inline;
  }
  #searchBox{
    float: right;
    input, button{
      border: 1px solid $c4;
    }
    input, button{
      @include brad(3px)
    }
    button{
      background: #fff;
      color: $c2;
    }
  }
}